.sidebar {
    width: 100px;
    padding: 60px;
    background-color: #f4f4f4;
    border-radius: 50px;
}

.sidebar h3 {
    margin-bottom: 50px;
    text-align: center;
    color: #ff5208;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 25%;
    cursor: pointer;
    text-align: center;
    transition: color 0.3s, transform 0.5s ease;
}

.sidebar ul li:hover {
    color: #fd0202;
    transform: scale(2);
}
